asgiref
Django
django-filter
djangorestframework
djangorestframework-simplejwt
Faker
PyJWT
python-dateutil
python-dotenv
rest-framework-simplejwt
six
sqlparse
typing_extensions
tzdata
psycopg2-binary
psycopg2
